---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - Ry0ZyUppcigRst6N5yeGRg==cu7zSyuFgwMAmgy3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 604891d6-a4ec-473e-81f6-e0c051e67089
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS51lGnKPHcFQ1Q=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 216.96, "aqi": 2}, "NO2": {"concentration":
        2.66, "aqi": 3}, "O3": {"concentration": 75.82, "aqi": 102}, "SO2": {"concentration":
        2.44, "aqi": 3}, "PM2.5": {"concentration": 2.95, "aqi": 9}, "PM10": {"concentration":
        3.82, "aqi": 3}, "overall_aqi": 102}'
  recorded_at: Mon, 07 Aug 2023 15:11:57 GMT
recorded_with: VCR 6.2.0
