---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Nicklan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Sun, 06 Aug 2023 16:12:59 GMT
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Page Not Found","_links":{"self":{"href":"/v3.1/name/","templated":false}}}'
  recorded_at: Sun, 06 Aug 2023 16:13:00 GMT
recorded_with: VCR 6.2.0
