---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=Peru
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1Jjh5Hrw1QuqLPeJRzo933AgS5Xquit5k9Eepd4dYqB4OM7hL7UL6Wys
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7addc2502a3152e88327f8f36aac3b68"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24999'
      X-Ratelimit-Reset:
      - '1694034679'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":90597,"width":3744,"height":5616,"url":"https://www.pexels.com/photo/top-view-of-ancient-ruins-under-white-cloudy-sky-90597/","photographer":"Amanda
        Kerr","photographer_url":"https://www.pexels.com/@akcreativespace","photographer_id":19167,"avg_color":"#5C5E5C","src":{"original":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg","large2x":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Top
        View of Ancient Ruins Under White Cloudy Sky"},{"id":2356045,"width":5421,"height":3614,"url":"https://www.pexels.com/photo/machu-pichu-peru-2356045/","photographer":"Errin
        Casano","photographer_url":"https://www.pexels.com/@errin-casano-1240439","photographer_id":1240439,"avg_color":"#788385","src":{"original":"https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg","large2x":"https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress\u0026[...]
