---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - Ry0ZyUppcigRst6N5yeGRg==cu7zSyuFgwMAmgy3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ccb264ac-f432-43d9-ae46-72ffa35409ca
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS_5aEqHPHcFc9g=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration":
        3.77, "aqi": 4}, "O3": {"concentration": 70.1, "aqi": 84}, "SO2": {"concentration":
        2.47, "aqi": 3}, "PM2.5": {"concentration": 2.74, "aqi": 8}, "PM10": {"concentration":
        3.69, "aqi": 3}, "overall_aqi": 84}'
  recorded_at: Mon, 07 Aug 2023 15:53:19 GMT
[...]
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - Ry0ZyUppcigRst6N5yeGRg==cu7zSyuFgwMAmgy3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cb604aae-d0ec-49d3-b4ea-0beb2c5c820d
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS_9aHk9vHcFgTQ=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration":
        3.77, "aqi": 4}, "O3": {"concentration": 70.1, "aqi": 84}, "SO2": {"concentration":
        2.47, "aqi": 3}, "PM2.5": {"concentration": 2.74, "aqi": 8}, "PM10": {"concentration":
        3.69, "aqi": 3}, "overall_aqi": 84}'
  recorded_at: Mon, 07 Aug 2023 15:53:45 GMT
recorded_with: VCR 6.2.0
