---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=bc1728b6&app_key=7396aa5657ea317b7fd44e40ffcfda93&q=nicks%20very%20own%20country&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 05 Aug 2023 17:21:42 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=bc1728b6&app_key=7396aa5657ea317b7fd44e40ffcfda93&q=&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 05 Aug 2023 17:21:42 GMT
recorded_with: VCR 6.2.0
