---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyAq8Lq-AqCmZ6nIAAJbpj7rNzyBRf7RJHk&part=snippet&q=japan&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "vWaH3_6gZ65jk8wiT1PIXedqsR8",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 66,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "TDJ1Gerll8eLZn2iTheH_9sIaJ0",
              "id": {
                "kind": "youtube#video",
                "videoId": "74g8q804ukA"
              },
              "snippet": {
                "publishedAt": "2021-06-19T05:42:06Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Japan",
                "description": "Sources: \"A Concise History of Japan\" (2015) by Brett L. Walker. Cambridge University Press, UK \"A Brief History of Japan\" (2017) ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/74g8q804ukA/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-06-19T05:42:06Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "TPYCStAGRANAAqlp0fpjBiCf_jY",
              "id": {
                "kind": "youtube#video",
                "videoId": "fEvBT95qfJE"
              },
              "snippet": {
                "publishedAt": "2022-10-13T22:52:32Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Palau",
             [...]
