---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=adfjlk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1Jjh5Hrw1QuqLPeJRzo933AgS5Xquit5k9Eepd4dYqB4OM7hL7UL6Wys
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5188ac46f9d89b65c048e79e02f554ce"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24994'
      X-Ratelimit-Reset:
      - '1694034679'
      X-Server:
      - bulldog
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Mon, 07 Aug 2023 21:33:32 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 1Jjh5Hrw1QuqLPeJRzo933AgS5Xquit5k9Eepd4dYqB4OM7hL7UL6Wys
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24993'
      X-Ratelimit-Reset:
      - '1694034679'
      X-Server:
      - anteater
    body:
      encoding: UTF-8
      string: '{"status":400,"code":"No query param given"}'
  recorded_at: Mon, 07 Aug 2023 21:33:32 GMT
recorded_with: VCR 6.2.0
